arm_name: KINOVA_GEN3_2_RIGHT

KINOVA_GEN3_2_RIGHT:

  PRE_CONDITION:
    constraint_count: 1
    constraints:
      1:
        type: POSITION_XYZ
        value:
          - 0.1
          - NULL
          - NULL
        operator:
          - LESS_THAN
          - NULL
          - NULL

  PER_CONDITION:
    constraint_count: 2
    constraints:
      1:
        type: POSITION_XYZ
        value:
          - 0.8
          - NULL
          - NULL
        operator: 
          - EQUAL
          - NULL
          - NULL

      2:
        type: FORCE_XYZ
        value:
          - 4.0
          - NULL
          - NULL
        operator: 
          - EQUAL
          - NULL
          - NULL          


  PREVAIL_CONDITION:
    constraint_count: 2
    constraints:
      1:
        type: POSITION_XYZ
        value:
          - NULL
          - -0.2
          - NULL
        operator:
          - NULL
          - GREATER_THAN
          - NULL

      2:
        type: POSITION_XYZ
        value:
          - NULL
          - 0.2
          - NULL
        operator:
          - NULL
          - LESS_THAN
          - NULL

  POST_CONDITION:
    constraint_count: 1
    constraints:
      1:
        type: POSITION_XYZ
        value:
          - 0.8
          - NULL
          - NULL
        operator:
          - GREATER_THAN
          - NULL
          - NULL